/* header CSS file */

/* background colour, size, and transparent image for header */
.top-header {
  background-color: goldenrod;
  height: 520px;
  background-image: url("../images/cubes.png");
  background-repeat: repeat;
}

/* profile picture of user */
.header-image {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* the user's name */
.top-header h2 {
  text-align: center;
  margin: auto;
  color: white;
}

/* removes bold from last name */
.top-header span {
  font-weight: lighter;
}