/* the CSS for the tweet input form */

/* what are you humming about text */
label {
  display: flex;
  justify-content: start;
  font-weight: bold;
  margin-top: 3em;
}

/* input text box */
textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 5px solid;
  width: 101%;
  outline: none;
}

/* the footer of the form (tweet button and char counter */
.below-form {
  display: flex;
  justify-content: space-between;
}

/* tweet button */
button {
  font-family: 'Bungee', sans-serif;
  color: white;
  background-color: #4056A1;
}

/* character counter */
.counter {
  font-family: 'Bungee', sans-serif;
}

/* when the counter value is < 0 */
.counter-negative {
  color: red;
}

/* error message when no text inputted but submit was pressed */
#error-none {
  color: red;
  font-weight: bold;
  border: red 5px solid;
  display: none;
}

/* error message when char count is > 140 and submit was pressed */
#error-over {
  color: red;
  font-weight: bold;
  border: red 5px solid;
  display: none;
}
