label {
  display: flex;
  justify-content: start;
  font-weight: bold;
  margin-top: 3em;
}

textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 5px solid;
  width: 90vw;
  outline: none;
}

.below-form {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: 'Bungee', sans-serif;
  color: white;
  background-color: #4056A1;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.counter-negative {
  color: red;
}

#error-none {
  color: red;
  font-weight: bold;
  border: red 5px solid;
  display: none;
}

#error-over {
  color: red;
  font-weight: bold;
  border: red 5px solid;
  display: none;
}
